<div class="board" id="game-board">
    {{#each cells}}
        <div class="tile"
             style="background: {{cellClass}}"
             id="{{id}}"
             data-on-click="@post('/tap?id='+evt.target.id)">
        </div>
    {{/each}}
</div>
